<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<array>
		<dict>
			<key>UserID</key>
			<string>0</string>
			<key>UserName</key>
			<string>Harpreet</string>
			<key>UserEmail</key>
			<string>Harpreet@gmail.com</string>
			<key>UserPassword</key>
			<string>harpreet123</string>
		</dict>
		<dict>
			<key>UserID</key>
			<string>1</string>
			<key>UserName</key>
			<string>Prince</string>
			<key>UserEmail</key>
			<string>Princegmail.com</string>
			<key>UserPassword</key>
			<string>prince123</string>
		</dict>
		<dict>
			<key>UserID</key>
			<string>2</string>
			<key>UserName</key>
			<string>Karan</string>
			<key>UserEmail</key>
			<string>Karan@gmail.com</string>
			<key>UserPassword</key>
			<string>karan123</string>
		</dict>
		<dict>
			<key>UserID</key>
			<string>3</string>
			<key>UserName</key>
			<string>Richu</string>
			<key>UserEmail</key>
			<string>Richu@gmail.com</string>
			<key>UserPassword</key>
			<string>richu123</string>
		</dict>
		<dict>
			<key>UserID</key>
			<string>4</string>
			<key>UserName</key>
			<string>Parag</string>
			<key>UserEmail</key>
			<string>Parag@gmail.com</string>
			<key>UserPassword</key>
			<string>parag123</string>
		</dict>
	</array>
</dict>
</plist>
