<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Information Property List</key>
	<dict>
		<key>Users</key>
		<array>
			<dict>
				<key>UserID</key>
				<string>0</string>
				<key>UserName</key>
				<string>Amrinder</string>
				<key>UserEmail</key>
				<string>amrinder@gmail.com</string>
				<key>UserPassword</key>
				<string>amrinder123</string>
			</dict>
			<dict>
				<key>UserID</key>
				<string>1</string>
				<key>UserName</key>
				<string>Rajan</string>
				<key>UserEmail</key>
				<string>Rajan@gmail.com</string>
				<key>UserPassword</key>
				<string>rajan123</string>
			</dict>
			<dict>
				<key>UserID</key>
				<string>2</string>
				<key>UserName</key>
				<string>Karan</string>
				<key>UserEmail</key>
				<string>Karan@gmail.com</string>
				<key>UserPassword</key>
				<string>karan123</string>
			</dict>
			<dict>
				<key>UserId</key>
				<string>3</string>
				<key>Username</key>
				<string>Harpreet</string>
				<key>UserEmail</key>
				<string>Harpreet@gmasil.com</string>
				<key>UserPassword</key>
				<string>harpreet123</string>
			</dict>
			<dict>
				<key>UserID</key>
				<string>4</string>
				<key>UserName</key>
				<string>Parag</string>
				<key>UserEmailID</key>
				<string>Parag@gamil.com</string>
				<key>UserPassword</key>
				<string>parag123</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
